@use'../custom' as *;
@use'../components/mixins' as *;

.intro-section {
    @include gradient;
    padding: 10rem 0 0rem 0;
    width: 100%;
    height: 100%;

    @media screen and (min-height: 900px) {
        .container {
            padding-bottom: 100px;
        }
    }

}

.intros {

    .video-box {
        position: relative;
        opacity: 0.9;

        a {
            @include absoluteCenter;
            position: absolute;
            opacity: 0.9;

            span {

                i {
                    font-size: 6rem;
                    color: $my-blue;

                }
            }
        }
    }
}


.border-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 6rem;
    height: 6rem;
    border: 0.55rem solid $white;
    border-radius: 50%;
    animation: pulse-border 1.5s linear infinite;

    &--border-1 {
        animation-delay: 1s;
    }

    &--border-2 {
        animation-delay: 1.5s;
    }
}