@use '../custom' as *;
@use '../components/mixins' as *;

.intro-section {
  @include gradient;
  padding: 10rem 0 0rem 0;
  width: 100%;
  height: 100%;

  @media screen and (min-height: 900px) {
    .container {
      padding-bottom: 100px;
    }
  }

  .big-logo-box {
    margin: 4rem;

    img {
      z-index: 1;
      position: relative;
      width: 20rem;
    }

    @media screen and (max-width: 767px) {
      img {
        width: 100% !important;
      }

    }

    .logo-move-slowly {
      animation: moveSlowly 4s infinite;
    }

    @keyframes moveSlowly {
      0% {
        transform: rotateY(0deg);
      }
      25% {
        transform: rotateY(20deg);
      }
      50% {
        transform: rotateY(0deg);
      }
      75% {
        transform: rotateY(-20deg);
      }
      100% {
        transform: rotateY(0deg);
      }
    }

    .logo-animate {
      animation: animate 1s linear;
      perspective: 30rem;
    }

    @keyframes animate {
      0% {
        transform: rotateY(0deg);
      }
      50% {
        transform: rotateY(90deg);
      }
      100% {
        transform: rotateY(360deg);
      }
    }

  }

  svg {
    margin-bottom: -1px;
  }

}





