@use'../custom' as *;
@use'../components/mixins' as *;

nav {
    z-index: 999 !important;
    transform: rotateY(0deg) !important;
}
.menu {
    @include gradient;
    z-index: 100;
    li {
        padding: 0 0.7rem;
    }
    a {
       color: $white;
        text-transform: capitalize;
        font-weight: 600;

        
    }

}

.main-contact-btn {
    color: $primary !important;
    &:hover {
        color: $white !important;
    }
}

@media screen and (max-width: 991px) {
    .menu a {
        margin-top: 1rem !important;
    }
    
}