@use'../custom' as *;
@use'../components/mixins' as *;


#myskills {
    height: 8rem;
}

.skills {
    background-color: $gray-100;

    position: relative;
    padding: 1rem 0;

    &__content {
        padding: 1rem;
       // margin-top: 5rem;
    }

    .icon {
        font-size: 2.5rem;
        color: $primary;
    }

    &__pic {
        max-width: 100%;
    }
}



@media screen and (max-width: 767px) {
    .large-scr-picture {
        display: none;
    }
    .skills__content {
        margin-top: -3rem;
    }
    #myskills {
        height: 4rem;
    }

}

@media screen and (min-width: 768px) {
    .small-scr-picture {
        display: none;
    }
    
}


