@use'../custom' as *;
@use'../components/mixins' as *;

#mytimeline {
    height: 8rem;
}
@media screen and (max-width: 767px) {

    #mytimeline {
        height: 4rem;
    }

}

.accordion-header {
    margin-right: 0.5rem;
}